body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    text-align: center;
}

.title.sausage {
    font-size: 50px;
    font-weight: 1000;
    color:darkslategrey;
}

.subheading {
    font-size: 18px;
    text-align: center;
}

.subheading.title {
    font-size: 24px;
    color: black;
}

.list {
    color: green;
    font-style: italic;
}

.recipe {
    font-size: 16px;
    text-align: center;
}

.image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.back {
    background-color: black;
    font-size: 20px;
    color: white;
}

.back:hover {
    background-color: white;
    color:black;
}